
::deep .selected {
    background-color: #1E88E5 !important;
}

    ::deep .selected > td {
        color: white !important;
    }

        ::deep .selected > td .mud-input {
            color: white !important;
        }
