@page "/FixtureGroupsAdmin"

@using MudBlazor
@using Prode2022Server.Models
@using Prode2022Server.Shared.AdminFixtureGroups

<h1 class="ma-4">Administrar Grupos de Fixture</h1>

<FixtureGroupEdit/>

<FixtureGroupList/>

@code
{


    

    
}

