@page "/Fixtureadmin"

@using MudBlazor
@using Prode2022Server.Models
@using Prode2022Server.Shared.AdminFixture
@attribute [Authorize]

<h1 class="ma-4">Administrar Fixture</h1>

<FixtureEdit/>

<FixtureList/>

@code
{


    

    
}

